    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    }

    .body{
        display: grid;
        grid-template-columns: 1fr;
    }

    .body{
        background: url(../Img/fondoburger2.jpg) no-repeat center center fixed;
        min-height: 100vh;
        font-family: 'Lato', sans-serif;
        color: white;
        background-size: cover;
        width: 100%;

    }

    /* header */

    .header{
        width: 100%;
        min-height: 30vh;
        color: white;
        font-family: 'Lato', sans-serif;
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }
    
    .header__logo{
        width: 275px;
        height: 100px;
        padding: 0px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: flex-end;   
    }
    
    .header__logo a{
        width: 100%;
        height: 100%;
    }
    
    .logo{
        width: 100%;
        height: 100%;
        display: block;
        display: flex;
        justify-content: center;
        width: 100%   
    }

    
   .active{
       color: rgb(143, 143, 143);
   }
   
    a:hover{
    color: grey;
    cursor: pointer;
    }


    a{ 
        color: white;
        text-decoration: none;
        display: flex;
    }

    .headerIndex{
        z-index: 99 !important;
        filter: brightness(2);
    }

    /* page index */

    .dropdown-item{
        background-color: #faf9f9;
    }

    .navbar{
        font-size: 30px;
    }

   .slide{
       margin-top: 10px;  
    }

   .slide img{
       height: 60vh;  
    }

   .carousel{
       display: flex;
       justify-content: center;
    }    

   
   .imgcarousel{
       object-fit: contain !important;
    }

    .h5__carousel{
        text-shadow: 0 0 5px rgb(0, 0, 0);
        font-size: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .leburguer{
        font-size: 70px;
        font-family: 'Times New Roman', Times, serif;
    }

    .carouselImg{
        object-fit: cover !important;
        height: 100vh !important; 
    }

    .conteinerCarousel{
        position: absolute !important;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        opacity: 0.3;
        margin: 0 !important;
        padding: 0 !important;
        z-index: -10 !important;
    }
    
    .tituloIndex{
        font-family: 'Alegreya Sans', sans-serif;
        font-family: 'Dancing Script', cursive;
        font-family: 'Kalam', cursive;
        font-family: 'Kanit', sans-serif;
        font-family: 'Lato', sans-serif;
        font-family: 'Neuton', serif;
        font-family: 'Oleo Script', cursive;
        font-family: 'Permanent Marker', cursive;
        font-family: 'Playfair Display', serif;
        font-family: 'Prompt', sans-serif;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-family: 'Yeseva One', cursive;
        text-align: center;
        font-size: 60px;
        font-weight: lighter;

    }
    /* page nosotros */

    .main__nosotros{
        font-size: 25px;
        text-align: center;
        background: url(../Img/bgnosotros.jpg) no-repeat center center;
        background-size: cover;
        background-color: rgba(0, 0, 0, 0.548);
        
    }

    main{
        width: 100%;
        min-height: 55vh;
        color: white;
        font-family: 'Lato', sans-serif;
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .main__valores{
        margin-top: 80px;
    }

    .main__h1{
        width: auto;
        display: flex;
        justify-content: center;
    }

    .main__p{
        text-align: center;
    }

    .main__h2{
        text-align: center;
    }

    .h3__nosotros{
        margin-top: 30px;
    }
    
    .formulario{
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.548);
    }

    .headerNosotros{
        background-color: #020101;
    }

    .footerNosotros{
        background-color: black;
    }
    
    /* page menu  */ 


    .main__hamburger{
        padding: 20px;
        width: 80%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 10px;
        justify-items: center;
        align-items: center;
        justify-content: center;
        align-content: center;  
    }
    
    .div__hamburger{
        width: 45%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        justify-self: center;
        align-self: center;       
    }

    .div__hamburger:hover{
        transform: scale(2, 2);
        transition: all 1s;
    }

    .hamburger__menu{
        width: 60%;
        height: 60%;
    }
    
    .div__texto{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .h1__burger{
        font-size: 35px;
    }

    .p__menu{
        font-size: 20px;
    }

    .bebida__menu{
        width: 100%;
        height: 100%;
    }

    .bebida__menu2{
        width: 30%;
        height: 30%;
    }

    .bebida__menu3{
        width: 20%;
        height: 20%;
    }

    .bebida__menu4{
        width: 50%;
        height: 50%;
    }

    .h2Menu{
        font-size: 50px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 30px;
        
    }

    .containerBebida{
        margin-top: 80px;
    }
    
    /* page locales */
    
    .main__locales{
        font-size: 25px;
        width: 100%;
    }
    
    .card-title{
        color: black;
        font-weight: bold;
    }

    .card-text{
        color: black;
    }
    
    .card-link{
        color: black;
    }
    
    /* page novedades */ 

    .main__novedades{
        padding: 20px;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .div__novedades{
        background-color: rgba(0, 0, 0, 0.555);
        padding: 20px;
        width: 80%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;   
    }

    .div__titular{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        font-size: 30px;
    } 

    .p__noticias{
        font-size: 15px;
        font-family: 'Courier New', Courier, monospace;
    }

    /* footer */
    
    footer{
        width: 100%;
        min-height: 15vh;
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    .footer__ul{
        display: flex;
        list-style: none;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        width: 300px;    
    }

    .footer__redes{
        width: 50px;
        height: 50px;
    }



    

    @media screen and (max-width: 576px) {

        body{
            background: url(../Img/fondophone.jpg) no-repeat center center fixed;
        }

        

       

        .header__lista{
            flex-direction: column;
            height: 100%;

        }

        .header{
            height: 60vh;
            justify-content: start;
        }
        
        nav.header__menu{
            height: 100%;
            

        }
        
        ul.header__lista{
            justify-content: center;
            justify-items: center;
            align-items: center;
            align-content: center;
            font-size: 25px;
            
        }
        
        footer.footer{
            height: 100px;
        }
        
        

        .main__hamburger{
            grid-template-columns: 1fr;
        }

        .h1__burger{
            font-size: 35px;
        }

        .p__menu{
            font-size: 15px;
        }

        

        .h3__nosotros{
            font-size: 25px;
        }

        .formulario{
            font-size: 15px;
        }
        .main__nosotros{
            padding-left: 20px;
            padding-right: 20px;
        }

        .div__novedades{
            flex-direction: column;
            align-items: center;          
        }

        .p__noticias{
            font-size: 15px;
            font-family: 'Courier New', Courier, monospace;
        }

        p{
            font-size: 15px;
        }

        .main__novedades{
            min-height: 50vh;
        }
    }


        

        
        

       